<div class="resume-section-content">
  <h2 class="mb-5">Experience</h2>
  <div class="d-flex flex-row flex-md-row justify-content-between mb-5">
    <div class="flex-grow-1">
      <h3 class="mb-0">Automation Tester Intern</h3>
      <div class="subheading">Capgemini</div>
      <div class="text-primary mb-3">Jan 2022 - Apr 2022</div>
      <div class="mr-2">
        <p>Experienced in functional and automation testing using JAVA</p>
        <p>
          Working knowledge on Selenium Tool and Cucumber framework and
          Automated by using Jenkins
        </p>
        <p>Experienced working in Agile methodology</p>
      </div>
    </div>
    <div class="flex-grow-1">
      <h3 class="mb-0">Data Science Intern</h3>
      <div class="subheading">The Sparks Foundation</div>
      <div class="text-primary mb-3">Jun 2021 - Jul 2021</div>
      <div>
        <p>Write codes to collect and analyze data from external sources</p>
        <p>Build machine learning models using Python Juptyer Notebooks</p>
        <p>
          Build a strong professional profile, present given tasks and
          submissions
        </p>
      </div>
    </div>
  </div>
</div>
